
//======================================================
//================= ПЕРЕМЕННЫЕ =========================
//======================================================

$main_color: #000000;

//======================================================
//================== МИКСИНЫ ===========================
//======================================================

@mixin font($size, $weight, $line-height, $color: $main_color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

@mixin blik($size, $top, $left ){
  position: absolute;
  top: $top;
  left: $left;
  height: $size;
  width: $size;
}
